{% extends 'app.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="container align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-header bg-dark text-white">
                        <h1>Test tutorial</h1>
                    </div>
                    <div class="card-body">
                        This is the test tutorial from Andrew. <br> You have fun))
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
